<%= form_for @question, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= raw errors_for @question %>
    <%= (input_multiline_text 'body', { :autofocus => 'autofocus', :object => 'statement' , :label => '', :html => " autofocus='autofocus' height='300px'"}).html_safe  %>

    <div class="control-group">
      <table >
        <tr>

          <td style="width:770px;">
            <!--<#% #raw input_attachments :object => 'statement' %>-->
          </td>

          <td valign="top">
            <div class="control-group">
              <table style="float:right;">
                <tr>
                  <td>Complexity: </td>
                  <td>
                    <%= select("question", "complexity_list", Question.complexities.collect{|complexity| [complexity.name, complexity.name]}) %>
                  </td>
                </tr>

                <tr>
                  <td>Topic: </td>
                  <td>
                    <%= select("question", "topic_list", Question.topics.collect{|topic| [topic.name, topic.name]} + [['Other', 'Other']], {}, :onchange => 'topic_changed(this.value);') %>
                  </td>
                </tr>

                <tr>
                  <td>
                  </td>
                  <td>
                    <input type="text" name="other_topic" id="other_topic" value="Enter other topic"/>
                  </td>
                </tr>
              </table>
            </div>
          </td>

        </tr>
      </table>
    </div>

    <div class="control-group">
      <div class="controls">
        This question of type <%= select("question", "nature_list", Question::Natures.collect{|val| [val, val]}, {}, :onchange => 'nature_changed(this.value);') %>
      </div>
    </div>

    <div class="control-group" id="objective_options" style="display:none;">
      <div class="controls">
        <%= render :partial => 'objective' %>
      </div>
    </div>

  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', questions_path, :class => 'btn' %>
  </div>

<% end %>




<script type="text/javascript">
  function nature_changed(nature){
    if (nature=='Objective'){
      //$("#objective_options").show();
      $("#objective_options").effect('highlight',null,'slow');
    }
    else{
      $("#objective_options").effect('fade',null,'slow');
    }
  }
  nature_changed($('#question_nature_list').val());

  function topic_changed(topic){
    if (topic=='Other'){
      $("#other_topic").effect('highlight',null,'slow');
    }
    else{
      $("#other_topic").effect('fade',null,'slow');
    }
  }
  topic_changed($('#question_topic_list').val());

</script>
