<%= form_for @question, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <h3><%= form_action_title %> Question</h3>

    <%= raw errors_for @question %>

    <div class="control-group" style="width:90%;">
      <table style="float:right;">
        <tr>
          <td></td>
          <td style="width:80px;">Complexity: </td>
          <td style="width:100px;">
            <%= select("question", "complexity_list", Question::Complexities.collect{|val| [val, val]}) %>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>Topic: </td>
          <td>
            <%= select("question", "topic_list", Question::Topics.collect{|val| [val, val]}) %>
          </td>
        </tr>
      </table>
    </div>

    <%= raw input_line_text 'title', { :object => 'statement' }%>
    <%= raw input_tinymce 'body', { :object => 'statement' , :label => 'Statement' }  %>
    <%= raw input_attachments :object => 'statement' %>

    <div class="control-group">
      <div class="controls">
        This question of type <%= select("question", "nature_list", Question::Natures.collect{|val| [val, val]}, {}, :onchange => 'nature_changed(this.value);') %>
      </div>
    </div>

    <div class="control-group" id="objective_options" style="display:none;">
      <div class="controls">
        <%= render :partial => 'objective' %>
      </div>
    </div>

  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', questions_path, :class => 'btn' %>
  </div>

<% end %>




<script type="text/javascript">
  function nature_changed(nature){
    if (nature=='Objective'){
      //$("#objective_options").show();
      $("#objective_options").effect('highlight',null,'slow');
    }
    else{
      $("#objective_options").effect('fade',null,'slow');
    }
  }
  nature_changed($('#question_nature_list').val());
</script>
