<h3>Questions</h3>

<div class="well" style="background-color: white;">
  
  <%= will_paginate @questions %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:40%;">
          <input id="question_search" type="text" value="<%= params[:search] %>" onkeyup="if(check_for_enter_pressed(event)) tagged_questions();" autofocus="autofocus"/>
        </th>
        <th>
          <%= select("question", "complexity_list", Question::Complexities.collect{|val| [val, val]}, {:prompt => 'Any', :selected => params[:complexity]}, :onchange => 'tagged_questions();') %>
        </th>
        <th>
          <%= select("question", "topic_list", Question::Topics.collect{|val| [val, val]}, {:prompt => 'Any', :selected => params[:topic]}, :onchange => 'tagged_questions();') %>
        </th>
      </tr>
      <tr>
        <th>Questions</th>
        <th>Complexity</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr onclick="window.location = '/questions/<%=question.id%>/edit';">
          <td>
            <%= question.title %>
            <br/><i>by <%=question.user.email%></i>
          </td>
          <td>
            <%= question.complexity %>
          </td>
          <td>
            <%= question.topic %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><%= link_to "New Question", new_question_path, :class => 'btn primary' %></p>





<script type="text/javascript">
  function tagged_questions(){
    tags = [];

    if ($("#question_search").val())
      tags.push("search="+$("#question_search").val());

    if ($("#question_complexity_list").val())
      tags.push("complexity="+$("#question_complexity_list").val());

    if ($("#question_topic_list").val())
      tags.push("topic=" + $("#question_topic_list").val());

    query = "";

    if (tags.length>0)
      query += "?";

    for(var i=0; i<tags.length; i++){
      query += tags[i] + "&";
    }

    window.location = "/questions" + query;
  }
</script>
