<h3>Questions</h3>

<div class="well" style="background-color: white;">

  <%= will_paginate @questions rescue nil%>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:70%;">
          <input id="question_search" type="text" value="<%= params[:search] %>" onkeyup="if(check_for_enter_pressed(event)) tagged_questions();" autofocus="autofocus"/>
        </th>
        <th>
          <%= select("question", "complexity_list", Question.complexities.collect{|complexity| [complexity.name, complexity.name]}, {:prompt => 'Any', :selected => params[:complexity]}, :onchange => 'tagged_questions();', :style => 'width:100px;') %>
        </th>
        <th>
          <%= select("question", "topic_list", Question.topics.collect{|topic| [topic.name, topic.name]}, {:prompt => 'Any', :selected => params[:topic]}, :onchange => 'tagged_questions();', :style => 'width:100px;') %>
        </th>
        <th>
          <p><a class="btn btn-primary" href="/questions/new">Add</a></p>
        </th>
      </tr>
      <tr>
        <th>Questions</th>
        <th>Complexity</th>
        <th>Topic</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>
            <%= question.title %>
            <br/><i style="color:#aaa;"> by <%=question.user.email%></i>
          </td>
          <td>
            <%= question.complexity %>
          </td>
          <td>
            <%= question.topic %>
          </td>
          <td>
            <button class="btn" onclick="window.location = '/questions/<%=question.id%>/edit';">Edit</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="well">
  <div style="float:left">
    <!-- question upload starts -->
    <%= raw render_upload_status %>
    <span id="upload_form_container">Import questions <a href="#"> e.g. template.xls</a>
      <%= form_tag '/questions/import', :multipart => true, :onsubmit => 'upload_started();' do %>
        <%= file_field_tag :questions_file %>
        <%= submit_tag 'Upload', :class => 'btn btn-primary', :style => 'margin-bottom:10px;' %>
      <% end %>
    </span>
    <span id="uploading" style="display: none;">
      Uploading.....     please wait.
    </span>

    <script type="text/javascript">
      $('#upload_form_container').popover({
        content:  "<br/>1. Only .xls file is allowed \
                   <br/>2. Upto 10 MB allowed \
                   <br/>3. Please find the template for upload <a href=\"/assets/questions_imported/questions_import_template.xls\">here</a> \
                   <br/>4. Formulas and functions (for.e.g \"=sum(A1,A2)\", \"=concat(A1,A2)\") are not allowed "
      });


      function upload_started(){
        $('upload_form_container').style.display = 'none';
        $('uploading').style.display = 'block';
        show_spinner('spinner');
        return true;
      }
    </script>
    <!-- question upload ends -->
  </div>

  <div style="float:right">
    <p>
      Download
      <a href="#" onclick="window.location = window.location + '?format=text'">TXT</a>
      | <a href="#" onclick="window.location = window.location + '?format=csv'">CSV</a>
    </p>
  </div>
</div>



<script type="text/javascript">
  function tagged_questions(tags){
    if (!tags)
      tags = [];

    if ($("#question_search").val())
      tags.push("search="+$("#question_search").val());

    if ($("#question_complexity_list").val())
      tags.push("complexity="+$("#question_complexity_list").val());

    if ($("#question_topic_list").val())
      tags.push("topic=" + $("#question_topic_list").val());

    query = "";

    if (tags.length>0)
      query += "?";

    for(var i=0; i<tags.length; i++){
      query += tags[i] + "&";
    }

    window.location = "/questions" + query;
  }
</script>
