<%= form_for @statement, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <%= raw input_line_text 'title'%>
    <%= raw input_tinymce 'body', { :label => 'Statement' }  %>
    <%= raw input_attachments -%>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', statements_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>