<h2>Statements</h2>


<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @statements.each do |statement| %>
        <tr>
          <td><%= statement.title %></td>
          <td><%= statement.body %></td>
          <td><%= link_to "Show", statement, :class => 'btn btn-mini btn-primary' %></td>
          <td><%= link_to "Edit", edit_statement_path(statement), :class => 'btn btn-mini' %></td>
          <td><%= link_to "Destroy", statement, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><%= link_to "New Statement", new_statement_path, :class => 'btn primary' %></p>
