<%= form_for(@test, :html => { :onsubmit=> "return validate_test()"}) do |f| %>
  <%= raw errors_for @test %>

  <div class="well">
    <fieldset>
      <div class="controls" style="font-weight: bolder;font-size:16px;color:#666;">
        <%= form_action_title %> test &nbsp <input type="text" name="test[title]" value="<%= @test.title %>" class="input-xlarge" autofocus="autofocus" style="margin-right:10px;" />
        with total <span id="total_questions" style="padding:4px;">0</span> questions for <span id="total_marks" style="padding:4px;">0</span> marks,
        and duration is <%= raw input_duration %>
      </div>
    </fieldset>
  </div>

  <div class="well" style="background-color: white;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Complexity</th>
          <th>Type</th>
          <th>Available Questions</th>
          <th>Selected Questions</th>
          <th>Marks for each question</th>
          <th>Total Marks</th>
          <th></th>
        </tr>
      </thead>
      <tbody  id="tests_topics">
        <tr id="new_topic_replacement"></tr>
      </tbody>
    </table>
    <a class="right" href="#" onclick="check_marks_and_add_topic();">Add topic</a>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>


<script type="text/javascript">
  // collect available questions count
  var available_questions = new Array();
<% @available_questions.each do |available_question| %>
    available_questions.push({
      'topic'     :'<%= available_question[0] -%>',
      'complexity':'<%= available_question[1] -%>',
      'nature'    :'<%= available_question[2] -%>',
      'count'     : <%= available_question[3] -%>
    });
<%end%>
  
  var number_of_topics = 0;
  var topic_counter = 0;
  var new_topic = '<%= raw escape_javascript render :partial => 'new_topic' -%>';

<% if @test_topics.blank? %>
    add_topic();
<% end %>

<% @test_topics.each do |test_topic| %>
    add_topic();// topics_counter was increamented here

    $('#topic_'+(topic_counter - 1)).val('<%= test_topic.topic -%>');
    $('#complexity_'+(topic_counter - 1)).val('<%= test_topic.complexity -%>');
    $('#nature_'+(topic_counter - 1)).val('<%= test_topic.nature -%>');
    update_question_count((topic_counter - 1));
    $('#number_of_questions_'+(topic_counter - 1)).val(<%= test_topic.number_of_questions -%>);
    $('#marks_for_each_question_'+(topic_counter - 1)).val(<%= test_topic.marks_for_each_question -%>);
    
    update_marks(topic_counter - 1);
<%end%>

</script>


